@{
    ViewData["Title"] = "Index";
}

<div>
    <a href='@Url.Action("SelectPaquete")'>Ir al Link</a>
    
    @foreach(string a in ViewBag.Paquetes.Keys){

        <p>Su destino es @a</p>
    
        <p>Su hotel es</p><img src="~/Img/Hoteles/@ViewBag.Paquetes[a].Hotel">
        <p>Su Aereo es</p><img src="~/Img/Aereos/@ViewBag.Paquetes[a].Aereo">
        <p>Su Excursion es</p><img src="~/Img/Excursiones/@ViewBag.Paquetes[a].Excursion"> 
    } 

</div>
