html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin: 10px;
  padding: 10px;
}

*{
  background-color: rgb(162, 214, 216);
}
footer {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #e9ecef;
}
div, label, p
{
  background-color: rgb(127, 174, 206);
  margin: 5px;
}
div img{
  margin: 4px;
  border-radius: 15px;
}
div h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}